<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<strong class="text-muted">Admin</strong>
<h1>Users</h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Acess</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td class="text-muted"><%= profile.id %></td>
        <td><%= profile.name %></td>
        <td><%= profile.age %> yo</td>
        <td>
          <% if profile.is_admin %>
            <h5><span class="badge badge-dark">Admin</span></h5>
          <% end %>
        </td>
        <td><%= link_to 'View', profile, class: "btn btn-block btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-block btn-outline-secondary" %></td>
        <td><%= link_to 'X', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn  btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>