<div class="profile-container">

  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
  
  <h1 class="text-center">Purchase</h1>

  <br>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label><strong>Description</strong></label><br>
        <%= @purchase.description %>
      </div>

      <div class="form-group">
        <label class="text-center"><strong>Products</strong></label><br>
        <div class="card">
          <% @purchase.product_purchases.each do |product_purchase| %>
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td><%= product_purchase.product.name %></td>
                  <td class="col-1"><h5><span class="badge pill-badge badge-success">$ <%= product_purchase.product.price %></span></h5></td>
                </tr>
              </tbody>
            </table>
          <%end%>
        </div>
      </div>

      <% if @purchase.was_bought %>
        <h3 class="text-center"><span class="badge pill-badge badge-success">Already paid :D</span></h3>
      <% else %>
        <h3 class="text-center"><span class="badge pill-badge badge-warning">Not paid yet</span></h3>
      <% end %>

      <br>
      <%= link_to 'Edit', edit_purchase_path(@purchase), class: "btn btn-block btn-secondary" %>
      <%= link_to 'Back', purchases_path, class: "btn btn-block btn-light" %>
    <div>
  <div>
</div>