<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<strong class="text-muted">Admin</strong>
<h1>Product</h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-muted"><%= product.id %></td>
        <td><%= product.name %></td>
        <td>R$ <%= product.price %></td>
        <td><%= link_to 'Ver', product, class: "btn btn-outline-info btn-block" %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class: "btn btn-outline-dark btn-block" %></td>
        <td><%= link_to 'X', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Product', new_product_path, class: "btn btn-success" %>
